# Kong Configuration
KONG_TAG=:3.9.1
KONG_HTTP_PROXY_PORT=8000
KONG_HTTP_ADMIN_PORT=8001

# Database Configuration
KONG_DB_TAG=:10.1
KONG_DB_PORT=5432
KONG_DB_USER=kong
KONG_DB_PW=kong
KONG_DB_NAME=kong

# Keycloak Configuration
KEYCLOAK_TAG=:latest
KEYCLOAK_PORT=8080
KEYCLOAK_USER=admin
KEYCLOAK_PW=admin

# Network Configuration
IP=127.0.0.1
